{% extends 'base.html.twig' %}

{% block title %}User detail{% endblock %}

{% block body %}

<div class="container">
<div class="row flex">
    
        <div class="col-8">
        
        <h1 class="card-title">       {{ user.firstname }}  {{ user.lastname }}      </h1>
        <div>Utilisateur crée le : {{ user.createdAt | date('d/m/Y') }}</div>  
        <div>Utilisateur modifié le : {{ user.updatedAt | date('d/m/Y') }}</div>   
    
</div>
<div><a href="{{ path('user.edit', {id: user.id}) }}" class="btn btn-secondary">Editer</a></div>
</div>
{% endblock %}